---
author: Andrei Beliankou
title: Buchstabensalat
description: 'Buchstabe is a linguistic project: Ruby, NLP, Linguistics and Teaching.'
keywords: 'nlp, hlt, natural language processing, Computational Linguistics, Ruby, JRuby, Java'
---

  {% include head.html %}
  
  <body>
    <div class="row" style="margin-top: 10em">

          <div class="col-md-2 col-md-offset-2">
            <a href="/projects" class="thumbnail">
              <img src="images/projects.png" alt="Buchstabe Team: Projects">
            </a>
          </div>
          <div class="col-md-2">
            <a href="http://www.uni-trier.de/index.php?id=24140" class="thumbnail">
              <img src="images/uni_trier_stamp.png" alt="University of Trier: Homepage">
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://github.com/arbox" class="thumbnail">
              <img src="images/octocat.png" alt="Arbox' GitHub">
            </a>
          </div>
          <div class="col-md-2">
            <a href="/blog" class="thumbnail">
              <img src="images/pencil_512.png" alt="Buchstabe Team: Blog">
            </a>
          </div>
    </div>

    {% include custom/yandex_metrica.html %}

  </body>
</html>
